/* NavBar.css */
body{
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@700&family=Prompt:ital,wght@1,300&display=swap');
}

.container-fluid {
    background-color: #FF2600;

}

.logo {
    color: white;
    display: flex;
    justify-content: start;
width: 60px;
height: 50px;
}

.nav-links {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}

.nav-links li {

    margin: 0 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    letter-spacing: .7px;
    /* Change the color to suit your design */
}

.nav-links li a:hover {
    color: black;
    /* Change the hover color to suit your design */
}


/* NavBar Buttons signup and login */
.navbuttons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
 align-items: center;
 margin-top: -15px;
}

button li a {
    text-decoration: none;
    color: white;
    padding: 1px;
}

.navbuttons button {
    width: 100px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid white;
    background-color: black;
    border-radius: 15px;
    color: white;
   margin-top: -20px;

}


/* NavBar.css */
/* ... Other styles ... */
/* #humburger{
    display: none;
} */
#humburger{
    display: none;
  }
@media screen and (max-width: 978px) {
    .nav-links {
      display: none;
      list-style-type: none;
    }
  #humburger{
    display: block;
  }
 .nav-links li a{
    list-style-type: none;
 }
  }
  